<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Che-cy</key>
	<string>C_he-cy.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>U-cy</key>
	<string>U_-cy.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>X.swsh</key>
	<string>X_.swsh.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Ze-cy</key>
	<string>Z_e-cy.glif</string>
	<key>_corner.caps_swash_diag</key>
	<string>_corner.caps_swash_diag.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>en-cy</key>
	<string>en-cy.glif</string>
	<key>ii-cy</key>
	<string>ii-cy.glif</string>
	<key>ii-cy.ss01</key>
	<string>ii-cy.ss01.glif</string>
	<key>jdotless</key>
	<string>jdotless.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>softsign-cy</key>
	<string>softsign-cy.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>y</key>
	<string>y.glif</string>
</dict>
</plist>
