
old sources/
sources/1-glyphs/Bellota_italic (Autosaved).glyphs
sources/1-glyphs/Bellota_italic (Autosaved).glyphs
sources/1-glyphs/Bellota (Autosaved).glyphs
sources/proofs/bellota.indd
sources/proofs/bellota_text.indd
BellotaText.zip
Bellota.zip
