(
A,
A.ss01,
A.swsh,
Aacute,
Abreve,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Acaron,
Acircumflex,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Adblgrave,
Adieresis,
Adieresismacron,
Adotaccent,
Adotbelow,
Adotmacron,
Agrave,
Ahookabove,
Ainvertedbreve,
Amacron,
Aogonek,
Aring,
Aringacute,
Atilde,
Atilde.ss01,
AE,
AE.ss01,
AE.swsh,
AEacute,
AEacute.ss01,
AEmacron,
AEmacron.ss01,
B,
B.ss01,
B.swsh,
Bdotaccent,
Bdotaccent.ss01,
Bdotbelow,
Bdotbelow.ss01,
Bmacronbelow,
C,
C.ss01,
C.swsh,
Cacute,
Cacute.ss01,
Ccaron,
Ccaron.ss01,
Ccedilla,
Ccedilla.ss01,
Ccedillaacute,
Ccedillaacute.ss01,
Ccircumflex,
Ccircumflex.ss01,
Cdotaccent,
Cdotaccent.ss01,
D,
D.ss01,
D.swsh,
DZ,
DZ.ss01,
DZcaron,
DZcaron.ss01,
Dcaron,
Dcaron.ss01,
Dcedilla,
Dcircumflexbelow,
Dcroat,
Dcroat.ss01,
Ddotaccent,
Ddotaccent.ss01,
Ddotbelow,
Ddotbelow.ss01,
Dmacronbelow,
Dz,
Dz.ss01,
Dzcaron,
Dzcaron.ss01,
Eth,
Eth.ss01,
E,
E.ss01,
E.swsh,
Eacute,
Eacute.ss01,
Ebreve,
Ebreve.ss01,
Ecaron,
Ecaron.ss01,
Ecedilla,
Ecedilla.ss01,
Ecedillabreve,
Ecircumflex,
Ecircumflex.ss01,
Ecircumflexacute,
Ecircumflexacute.ss01,
Ecircumflexbelow,
Ecircumflexdotbelow,
Ecircumflexdotbelow.ss01,
Ecircumflexgrave,
Ecircumflexgrave.ss01,
Ecircumflexhookabove,
Ecircumflexhookabove.ss01,
Ecircumflextilde,
Ecircumflextilde.ss01,
Edblgrave,
Edblgrave.ss01,
Edieresis,
Edieresis.ss01,
Edotaccent,
Edotaccent.ss01,
Edotbelow,
Edotbelow.ss01,
Egrave,
Egrave.ss01,
Ehookabove,
Ehookabove.ss01,
Einvertedbreve,
Einvertedbreve.ss01,
Emacron,
Emacron.ss01,
Emacronacute,
Emacronacute.ss01,
Emacrongrave,
Emacrongrave.ss01,
Eogonek,
Eogonek.ss01,
Etilde,
Etilde.ss01,
Schwa,
F,
F.ss01,
F.swsh,
Fdotaccent,
Fdotaccent.ss01,
G,
G.ss01,
G.swsh,
Gacute,
Gacute.ss01,
Gbreve,
Gbreve.ss01,
Gcaron,
Gcaron.ss01,
Gcircumflex,
Gcircumflex.ss01,
Gcommaaccent,
Gcommaaccent.ss01,
Gdotaccent,
Gdotaccent.ss01,
Gmacron,
Gmacron.ss01,
H,
H.ss01,
H.swsh,
Hbar,
Hbar.ss01,
Hbrevebelow,
Hbrevebelow.ss01,
Hcaron,
Hcaron.ss01,
Hcedilla,
Hcircumflex,
Hcircumflex.ss01,
Hdieresis,
Hdieresis.ss01,
Hdotaccent,
Hdotbelow,
Hdotbelow.ss01,
I,
I.swsh,
IJ,
IJ.ss01,
Iacute,
Ibreve,
Icaron,
Icircumflex,
Idblgrave,
Idieresis,
Idieresisacute,
Idotaccent,
Idotbelow,
Igrave,
Ihookabove,
Iinvertedbreve,
Imacron,
Iogonek,
Istroke,
Itilde,
J,
J.ss01,
J.swsh,
Jacute,
Jacute.ss01,
Jcircumflex,
Jcircumflex.ss01,
K,
K.ss01,
K.swsh,
Kcaron,
Kcaron.ss01,
Kcommaaccent,
Kcommaaccent.ss01,
Kdotbelow,
L,
L.swsh,
LJ,
LJ.ss01,
Lacute,
Lcaron,
Lcircumflexbelow,
Lcommaaccent,
Ldot,
Ldotbelow,
Ldotbelowmacron,
Lj,
Lmacronbelow,
Lslash,
M,
M.ss01,
M.swsh,
Macute,
Mdotaccent,
Mdotaccent.ss01,
Mdotbelow,
Mdotbelow.ss01,
N,
N.ss01,
N.swsh,
NJ,
NJ.ss01,
Nacute,
Nacute.ss01,
Ncaron,
Ncaron.ss01,
Ncircumflexbelow,
Ncommaaccent,
Ncommaaccent.ss01,
Ndotaccent,
Ndotaccent.ss01,
Ndotbelow,
Ndotbelow.ss01,
Ngrave,
Ngrave.ss01,
Nj,
Nj.ss01,
Nmacronbelow,
Nmacronbelow.ss01,
Ntilde,
Ntilde.ss01,
O,
Oacute,
Obreve,
Ocaron,
Ocircumflex,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Odblgrave,
Odieresis,
Odieresismacron,
Odotaccentmacron,
Odotbelow,
Ograve,
Ohookabove,
Ohorn,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Ohungarumlaut,
Oinvertedbreve,
Omacron,
Omacronacute,
Omacrongrave,
Oogonek,
Oogonekmacron,
Oslash,
Oslashacute,
Otilde,
Otildeacute,
Otildedieresis,
Otildemacron,
OE,
P,
P.ss01,
P.swsh,
Pacute,
Pdotaccent,
Pdotaccent.ss01,
Thorn,
Thorn.ss01,
Q,
Q.swsh,
R,
R.ss01,
R.swsh,
Racute,
Racute.ss01,
Rcaron,
Rcaron.ss01,
Rcommaaccent,
Rcommaaccent.ss01,
Rdblgrave,
Rdblgrave.ss01,
Rdotaccent,
Rdotbelow,
Rdotbelow.ss01,
Rdotbelowmacron,
Rinvertedbreve,
Rinvertedbreve.ss01,
Rmacronbelow,
Rmacronbelow.ss01,
S,
S.ss01,
S.swsh,
Sacute,
Sacute.ss01,
Sacutedotaccent,
Sacutedotaccent.ss01,
Scaron,
Scaron.ss01,
Scarondotaccent,
Scarondotaccent.ss01,
Scedilla,
Scedilla.ss01,
Scircumflex,
Scircumflex.ss01,
Scommaaccent,
Scommaaccent.ss01,
Sdotaccent,
Sdotaccent.ss01,
Sdotbelow,
Sdotbelow.ss01,
Sdotbelowdotaccent,
Sdotbelowdotaccent.ss01,
Germandbls,
Germandbls.swsh,
T,
T.ss01,
T.swsh,
Tbar,
Tbar.ss01,
Tcaron,
Tcaron.ss01,
Tcedilla,
Tcedilla.ss01,
Tcommaaccent,
Tcommaaccent.ss01,
Tdotaccent,
Tdotaccent.ss01,
Tdotbelow,
Tdotbelow.ss01,
Tmacronbelow,
Tmacronbelow.ss01,
U,
U.ss01,
U.swsh,
Uacute,
Uacute.ss01,
Ubreve,
Ubreve.ss01,
Ucaron,
Ucaron.ss01,
Ucircumflex,
Ucircumflex.ss01,
Ucircumflexbelow,
Udblgrave,
Udblgrave.ss01,
Udieresis,
Udieresis.ss01,
Udieresisacute,
Udieresisacute.ss01,
Udieresisbelow,
Udieresiscaron,
Udieresiscaron.ss01,
Udieresisgrave,
Udieresisgrave.ss01,
Udieresismacron,
Udieresismacron.ss01,
Udotbelow,
Udotbelow.ss01,
Ugrave,
Ugrave.ss01,
Uhookabove,
Uhookabove.ss01,
Uhorn,
Uhorn.ss01,
Uhornacute,
Uhornacute.ss01,
Uhorndotbelow,
Uhorndotbelow.ss01,
Uhorngrave,
Uhorngrave.ss01,
Uhornhookabove,
Uhornhookabove.ss01,
Uhorntilde,
Uhorntilde.ss01,
Uhungarumlaut,
Uhungarumlaut.ss01,
Uinvertedbreve,
Uinvertedbreve.ss01,
Umacron,
Umacron.ss01,
Umacrondieresis,
Umacrondieresis.ss01,
Uogonek,
Uogonek.ss01,
Uring,
Uring.ss01,
Utilde,
Utilde.ss01,
Utildeacute,
Utildeacute.ss01,
V,
V.ss01,
V.swsh,
Vdotbelow,
Vtilde,
W,
W.ss01,
W.swsh,
Wacute,
Wacute.ss01,
Wcircumflex,
Wcircumflex.ss01,
Wdieresis,
Wdieresis.ss01,
Wdotaccent,
Wdotbelow,
Wgrave,
Wgrave.ss01,
X,
X.ss01,
X.swsh,
Xdieresis,
Xdieresis.ss01,
Xdotaccent,
Y,
Y.ss01,
Y.swsh,
Yacute,
Yacute.ss01,
Ycircumflex,
Ycircumflex.ss01,
Ydieresis,
Ydieresis.ss01,
Ydotaccent,
Ydotaccent.ss01,
Ydotbelow,
Ydotbelow.ss01,
Ygrave,
Ygrave.ss01,
Yhookabove,
Yhookabove.ss01,
Ymacron,
Ymacron.ss01,
Ytilde,
Ytilde.ss01,
Z,
Z.ss01,
Z.swsh,
Zacute,
Zacute.ss01,
Zcaron,
Zcaron.ss01,
Zcircumflex,
Zdotaccent,
Zdotaccent.ss01,
Zdotbelow,
Zdotbelow.ss01,
Zmacronbelow,
Zstroke,
Saltillo,
Nhookleft,
Eng,
Eng.ss01,
Ubar,
Ubar.ss01,
R_A.dlig,
R_A.dlig.ss01,
T_h.dlig,
T_h.dlig.ss01,
a,
a.ss01,
aacute,
aacute.ss01,
abreve,
abreve.ss01,
abreveacute,
abreveacute.ss01,
abrevedotbelow,
abrevedotbelow.ss01,
abrevegrave,
abrevegrave.ss01,
abrevehookabove,
abrevehookabove.ss01,
abrevetilde,
abrevetilde.ss01,
acaron,
acaron.ss01,
acircumflex,
acircumflex.ss01,
acircumflexacute,
acircumflexacute.ss01,
acircumflexdotbelow,
acircumflexdotbelow.ss01,
acircumflexgrave,
acircumflexgrave.ss01,
acircumflexhookabove,
acircumflexhookabove.ss01,
acircumflextilde,
acircumflextilde.ss01,
adblgrave,
adblgrave.ss01,
adieresis,
adieresis.ss01,
adieresismacron,
adieresismacron.ss01,
adotaccent,
adotaccent.ss01,
adotbelow,
adotbelow.ss01,
adotmacron,
adotmacron.ss01,
agrave,
agrave.ss01,
ahookabove,
ahookabove.ss01,
ainvertedbreve,
ainvertedbreve.ss01,
amacron,
amacron.ss01,
aogonek,
aogonek.ss01,
aring,
aring.ss01,
aringacute,
aringacute.ss01,
atilde,
atilde.ss01,
ae,
aeacute,
aemacron,
b,
bdotaccent,
bdotbelow,
bmacronbelow,
c,
c.ss01,
cacute,
cacute.ss01,
ccaron,
ccaron.ss01,
ccedilla,
ccedilla.ss01,
ccedillaacute,
ccedillaacute.ss01,
ccircumflex,
ccircumflex.ss01,
cdotaccent,
cdotaccent.ss01,
d,
d.ss01,
dcaron,
dcaron.ss01,
dcedilla,
dcircumflexbelow,
dcroat,
dcroat.ss01,
ddotaccent,
ddotaccent.ss01,
ddotbelow,
ddotbelow.ss01,
dmacronbelow,
dmacronbelow.ss01,
dz,
dz.ss01,
dzcaron,
dzcaron.ss01,
eth,
e,
eacute,
ebreve,
ecaron,
ecedilla,
ecedillabreve,
ecircumflex,
ecircumflexacute,
ecircumflexbelow,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
edblgrave,
edieresis,
edotaccent,
edotbelow,
egrave,
ehookabove,
einvertedbreve,
emacron,
emacronacute,
emacrongrave,
eogonek,
etilde,
schwa,
f,
f.ss01,
fdotaccent,
fdotaccent.ss01,
g,
gacute,
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
gdotaccent.ss01,
gmacron,
h,
h.ss01,
hbar,
hbar.ss01,
hbrevebelow,
hbrevebelow.ss01,
hcaron,
hcaron.ss01,
hcircumflex,
hcircumflex.ss01,
hdieresis,
hdotaccent,
hdotbelow,
hdotbelow.ss01,
i,
i.ss01,
idotless,
idotless.ss01,
iacute,
iacute.ss01,
ibreve,
ibreve.ss01,
icaron,
icaron.ss01,
icircumflex,
icircumflex.ss01,
idblgrave,
idblgrave.ss01,
idieresis,
idieresis.ss01,
idieresisacute,
idieresisacute.ss01,
idotaccent,
idotaccent.ss01,
idotbelow,
idotbelow.ss01,
igrave,
igrave.ss01,
ihookabove,
ihookabove.ss01,
iinvertedbreve,
iinvertedbreve.ss01,
imacron,
imacron.ss01,
iogonek,
iogonek.ss01,
istroke,
istroke.ss01,
itilde,
itilde.ss01,
ij,
ij.ss01,
j,
j.ss01,
j.swsh,
jdotless,
jdotless.ss01,
jdotless.swsh,
jacute,
jacute.ss01,
jacute.swsh,
jcaron,
jcaron.ss01,
jcaron.swsh,
jcircumflex,
jcircumflex.ss01,
jcircumflex.swsh,
k,
k.ss01,
kcaron,
kcaron.ss01,
kcommaaccent,
kcommaaccent.ss01,
kdotbelow,
kgreenlandic,
l,
l.ss01,
l.swsh,
lacute,
lacute.ss01,
lcaron,
lcaron.ss01,
lcommaaccent,
lcommaaccent.ss01,
ldot,
ldot.ss01,
ldotbelow,
ldotbelow.ss01,
lj,
lj.ss01,
lmacronbelow,
lmacronbelow.ss01,
lslash,
lslash.ss01,
m,
m.ss01,
macute,
mdotaccent,
mdotaccent.ss01,
mdotbelow,
mdotbelow.ss01,
n,
n.ss01,
nacute,
nacute.ss01,
ncaron,
ncaron.ss01,
ncircumflexbelow,
ncommaaccent,
ncommaaccent.ss01,
ndotaccent,
ndotaccent.ss01,
ndotbelow,
ndotbelow..ss01,
ngrave,
ngrave.ss01,
nj,
nj.ss01,
nmacronbelow,
nmacronbelow.ss01,
ntilde,
ntilde.ss01,
o,
oacute,
obreve,
ocaron,
ocircumflex,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
odblgrave,
odieresis,
odieresismacron,
odotaccentmacron,
odotbelow,
ograve,
ohookabove,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
ohungarumlaut,
oinvertedbreve,
omacron,
omacronacute,
omacrongrave,
oogonek,
oogonekmacron,
oslash,
oslashacute,
otilde,
otildeacute,
otildedieresis,
otildemacron,
oe,
p,
pacute,
pdotaccent,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
rdblgrave,
rdotaccent,
rdotbelow,
rdotbelowmacron,
rinvertedbreve,
rmacronbelow,
s,
sacute,
sacutedotaccent,
scaron,
scarondotaccent,
scedilla,
scircumflex,
scommaaccent,
sdotaccent,
sdotbelow,
sdotbelowdotaccent,
germandbls,
longs,
t,
t.ss01,
tbar,
tbar.ss01,
tcaron,
tcaron.ss01,
tcedilla,
tcedilla.ss01,
tcommaaccent,
tcommaaccent.ss01,
tdieresis,
tdieresis.ss01,
tdotaccent,
tdotaccent.ss01,
tdotbelow,
tdotbelow.ss01,
tmacronbelow,
tmacronbelow.ss01,
u,
u.ss01,
uacute,
uacute.ss01,
ubreve,
ubreve.ss01,
ucaron,
ucaron.ss01,
ucircumflex,
ucircumflex.ss01,
ucircumflexbelow,
udblgrave,
udblgrave.ss01,
udieresis,
udieresis.ss01,
udieresisacute,
udieresisacute.ss01,
udieresisbelow,
udieresiscaron,
udieresiscaron.ss01,
udieresisgrave,
udieresisgrave.ss01,
udieresismacron,
udieresismacron.ss01,
udotbelow,
udotbelow.ss01,
ugrave,
ugrave.ss01,
uhookabove,
uhookabove.ss01,
uhorn,
uhorn.ss01,
uhornacute,
uhornacute.ss01,
uhorndotbelow,
uhorndotbelow.ss01,
uhorngrave,
uhorngrave.ss01,
uhornhookabove,
uhornhookabove.ss01,
uhorntilde,
uhorntilde.ss01,
uhungarumlaut,
uhungarumlaut.ss01,
uinvertedbreve,
uinvertedbreve.ss01,
umacron,
umacron.ss01,
umacrondieresis,
umacrondieresis.ss01,
uogonek,
uogonek.ss01,
uring,
uring.ss01,
utilde,
utilde.ss01,
utildeacute,
utildeacute.ss01,
v,
vdotbelow,
vtilde,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
x.ss01,
x.swsh,
xdieresis,
xdotaccent,
y,
y.ss01,
yacute,
yacute.ss01,
ycircumflex,
ycircumflex.ss01,
ydieresis,
ydieresis.ss01,
ydotaccent,
ydotbelow,
ydotbelow.ss01,
ygrave,
ygrave.ss01,
yhookabove,
yhookabove.ss01,
ymacron,
ymacron.ss01,
ytilde,
ytilde.ss01,
z,
z.ss01,
zacute,
zacute.ss01,
zcaron,
zcaron.ss01,
zcircumflex,
zdotaccent,
zdotaccent.ss01,
zdotbelow,
zdotbelow.ss01,
zmacronbelow,
zstroke,
saltillo,
nhookleft,
eng,
nhookleft.ss01,
ubar,
ubar.ss01,
f_f.dlig,
f_f.dlig.ss01,
f_f_i.dlig,
f_f_i.dlig.ss01,
f_f_l.dlig,
f_f_l.dlig.ss01,
f_t.dlig,
fi,
fi.ss01,
fl,
fl.ss01,
g_g.dlig,
t_h.dlig,
t_h.dlig.ss01,
t_t.dlig,
t_t.dlig.ss01,
ordfeminine,
ordmasculine,
clickdental,
clicklateral,
"A-cy",
"A-cy.ss01",
"Be-cy",
"Ve-cy",
"Ve-cy.ss01",
"Ge-cy",
"Gje-cy",
"Geupturn-cy",
"De-cy",
"Ie-cy",
"Ie-cy.ss01",
"Iegrave-cy",
"Iegrave-cy.ss01",
"Io-cy",
"Io-cy.ss01",
"Zhe-cy",
"Zhe-cy.ss01",
"Ze-cy",
"Ii-cy",
"Ii-cy.ss01",
"Iishort-cy",
"Iishort-cy.ss01",
"Iigrave-cy",
"Iigrave-cy.ss01",
"Ka-cy",
"Ka-cy.ss01",
"Kje-cy",
"El-cy",
"Em-cy",
"Em-cy.ss01",
"En-cy",
"En-cy.ss01",
"O-cy",
"Pe-cy",
"Er-cy",
"Er-cy.ss01",
"Es-cy",
"Es-cy.ss01",
"Te-cy",
"Te-cy.ss01",
"U-cy",
"U-cy.ss01",
"Ushort-cy",
"Ushort-cy.ss01",
"Ef-cy",
"Ha-cy",
"Ha-cy.ss01",
"Tse-cy",
"Tse-cy.ss01",
"Che-cy",
"Che-cy.ss01",
"Sha-cy",
"Sha-cy.ss01",
"Shcha-cy",
"Shcha-cy.ss01",
"Dzhe-cy",
"Dzhe-cy.ss01",
"Softsign-cy",
"Softsign-cy.ss01",
"Yeru-cy",
"Hardsign-cy",
"Lje-cy",
"Nje-cy",
"Dze-cy",
"Dze-cy.ss01",
"E-cy",
"Ereversed-cy",
"I-cy",
"Yi-cy",
"Je-cy",
"Je-cy.ss01",
"Tshe-cy",
"Tshe-cy.ss01",
"Yu-cy",
"Ya-cy",
"Ya-cy.ss01",
"Dje-cy",
"Dje-cy.ss01",
"Endescender-cy",
"Endescender-cy.ss01",
"Chedescender-cy",
"Chedescender-cy.ss01",
"Shha-cy",
"Shha-cy.001",
"Abreve-cy",
"Abreve-cy.ss01",
"Schwa-cy",
"Imacron-cy",
"Imacron-cy.ss01",
"Umacron-cy",
"a-cy",
"a-cy.ss01",
"be-cy",
"be-cy.ss01",
"ve-cy",
"ge-cy",
"gje-cy",
"geupturn-cy",
"de-cy",
"ie-cy",
"iegrave-cy",
"io-cy",
"zhe-cy",
"zhe-cy.ss01",
"ze-cy",
"ii-cy",
"ii-cy.ss01",
"iishort-cy",
"iishort-cy.ss01",
"ka-cy",
"ka-cy.ss01",
"kje-cy",
"kje-cy.ss01",
"el-cy",
"em-cy",
"em-cy.ss01",
"en-cy",
"en-cy.ss01",
"o-cy",
"pe-cy",
"er-cy",
"es-cy",
"es-cy.ss01",
"te-cy",
"te-cy.ss01",
"u-cy",
"u-cy.ss01",
"ushort-cy",
"ushort-cy.ss01",
"ef-cy",
"ha-cy",
"ha-cy.ss01",
"tse-cy",
"che-cy",
"che-cy.ss01",
"sha-cy",
"sha-cy.ss01",
"shcha-cy",
"shcha-cy.ss01",
"dzhe-cy",
"dzhe-cy.ss01",
"softsign-cy",
"softsign-cy.ss01",
"yeru-cy",
"yeru-cy.ss01",
"hardsign-cy",
"nje-cy",
"dze-cy",
"e-cy",
"ereversed-cy",
"i-cy",
"i-cy.ss01",
"yi-cy",
"yi-cy.ss01",
"je-cy",
"tshe-cy",
"tshe-cy.ss01",
"yu-cy",
"ya-cy",
"dje-cy",
"endescender-cy",
"chedescender-cy",
"chedescender-cy.ss01",
"shha-cy",
"abreve-cy",
"abreve-cy.ss01",
"schwa-cy",
"imacron-cy",
"imacron-cy.ss01",
"umacron-cy",
"umacron-cy.ss01",
Delta,
Omega,
mu,
omicron,
pi,
piSymbol,
space,
nbspace,
.notdef,
.null,
CR,
anoteleia,
questiongreek,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
question.ss01,
questiondown,
questiondown.ss01,
periodcentered,
periodcentered.loclCAT,
periodcentered.loclCAT.case,
bullet,
asterisk,
interrobang,
numbersign,
slash,
backslash,
hyphen,
endash,
emdash,
underscore,
softhyphen,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
florin,
"numeral-greek",
baht,
chestnut,
floralHeart,
at,
at.case,
ampersand,
ampersand.ss01,
ampersand.ss02,
ampersand.swsh,
paragraph,
section,
copyright,
registered,
trademark,
degree,
minute,
second,
bar,
brokenbar,
dagger,
daggerdbl,
estimated,
numero,
bitcoin,
cedi,
cent,
colonsign,
currency,
dollar,
dong,
euro,
franc,
guarani,
hryvnia,
kip,
lira,
liraTurkish,
manat,
naira,
peseta,
peso,
ruble,
rupee,
rupeeIndian,
sheqel,
sterling,
won,
yen,
bulletoperator,
divisionslash,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
integral,
Ohm,
increment,
product,
summation,
radical,
micro,
partialdiff,
percent,
perthousand,
whiteCircle,
dottedCircle,
lozenge,
"brevecomb-cy",
dieresiscomb,
dieresiscomb.case,
dieresiscomb.narrow,
dotaccentcomb,
dotaccentcomb.case,
gravecomb,
gravecomb.case,
gravecomb.narrow,
acutecomb,
acutecomb.case,
acutecomb.narrow,
hungarumlautcomb,
hungarumlautcomb.case,
caroncomb.alt,
circumflexcomb,
circumflexcomb.case,
circumflexcomb.narrow,
caroncomb,
caroncomb.case,
caroncomb.narrow,
brevecomb,
brevecomb.case,
brevecomb.narrow,
ringcomb,
ringcomb.case,
ringcomb.narrow,
tildecomb,
tildecomb.case,
tildecomb.narrow,
macroncomb,
macroncomb.case,
macroncomb.narrow,
hookabovecomb,
hookabovecomb.case,
hookabovecomb.narrow,
dblgravecomb,
dblgravecomb.case,
breveinvertedcomb,
breveinvertedcomb.case,
breveinvertedcomb.narrow,
commaturnedabovecomb,
commaturnedabovecomb.case,
horncomb,
dotbelowcomb,
dieresisbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
circumflexbelowcomb,
brevebelowcomb,
macronbelowcomb,
strokeshortcomb,
strokelongcomb,
slashshortcomb,
slashlongcomb,
slashlongcomb.case,
gravetonecomb,
acutetonecomb,
brevecomb_acutecomb,
brevecomb_gravecomb,
brevecomb_hookabovecomb,
brevecomb_tildecomb,
circumflexcomb_acutecomb,
circumflexcomb_gravecomb,
circumflexcomb_hookabovecomb,
circumflexcomb_tildecomb,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
apostrophemod,
doubleprimemod,
primemod,
_part.dottedCircleDot,
_corner.caps_diag,
_corner.caps_diag.001,
_corner.caps_diag_xs,
_corner.caps_diag_xxs,
_corner.caps_left,
_corner.caps_swash,
_corner.caps_swash.001,
_corner.caps_swash.big,
_corner.caps_swash_diag,
_corner.caps_swash_vert,
_corner.caps_swash_vert.001,
_corner.caps_vert,
_corner.caps_vert.001,
_corner.cy_lc,
_corner.cy_sh,
_corner.left,
_corner.left.caps,
_corner.right_curved,
_corner.right_swash,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onehalf,
onethird,
twothirds,
onequarter,
threequarters,
onefifth,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
_Tse_base,
_Tse_base.ss01,
_areas,
_base_tse.ss01,
_circle,
_circle_small,
_desc_cy,
_desc_cy.lc,
_eurobody,
_libra,
_smallB,
_smallF,
_smallG,
_smallK,
_smallN,
_smallP,
_smallR,
_smallS,
_smallW,
_smallY,
_smallc,
_smallerM,
_smallerR,
_smallerT,
_textfstem,
_top_swash.part,
_tse_base,
arch_n,
arch_n_eng,
arch_n_text,
arch_u,
bowl,
dotbelow,
doublelines,
engtail,
horn,
newGlyph,
stem_lc_short
)