<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Aacute.ss02</string>
		<string>Abreve</string>
		<string>Abreveacute</string>
		<string>Abrevedotbelow</string>
		<string>Abrevegrave</string>
		<string>Abrevetilde</string>
		<string>Acaron</string>
		<string>Acircumflex</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexdotbelow</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflextilde</string>
		<string>Adieresis</string>
		<string>Adieresis.ss02</string>
		<string>Adotbelow</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aring.ss02</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>M</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>C.ss02</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F</string>
		<string>F.ss01</string>
		<string>P</string>
		<string>P.ss01</string>
		<string>P.ss02</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
		<string>K.ss02</string>
		<string>Kcommaaccent</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>X</string>
		<string>X.ss02</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>D</string>
		<string>D.ss01</string>
		<string>D.ss02</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>G</string>
		<string>G.ss02</string>
		<string>Gbreve</string>
		<string>Gcaron</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocaron</string>
		<string>Ocircumflex</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexdotbelow</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflextilde</string>
		<string>Odieresis</string>
		<string>Odotbelow</string>
		<string>Ograve</string>
		<string>Ohorn</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>Q</string>
		<string>zero</string>
		<string>nine</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
		<string>S.ss02</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>two</string>
		<string>two.alt</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
		<string>T.ss01</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Uacute.ss02</string>
		<string>Ubreve</string>
		<string>Ucaron</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Udieresisacute</string>
		<string>Udieresiscaron</string>
		<string>Udieresisgrave</string>
		<string>Udieresismacron</string>
		<string>Udotbelow</string>
		<string>Ugrave</string>
		<string>Uhorn</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V</string>
		<string>V.ss02</string>
		<string>W</string>
		<string>W.ss02</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>seven</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Y.ss02</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ydotbelow</string>
		<string>Ygrave</string>
		<string>Ytilde</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>f_f_i</string>
		<string>f_f_l</string>
		<string>fl</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>ae</string>
		<string>aeacute</string>
		<string>c</string>
		<string>c.ss02</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>e</string>
		<string>e.ss02</string>
		<string>eacute</string>
		<string>eacute.ss02</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>ecircumflexacute</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflextilde</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>edotbelow</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>etilde</string>
		<string>oe</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_L_f</key>
	<array>
		<string>f</string>
		<string>f.ss02</string>
		<string>f_f</string>
	</array>
	<key>@MMK_L_j</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcaron</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>j</string>
		<string>jcircumflex</string>
		<string>q</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ydotbelow</string>
		<string>ygrave</string>
		<string>ytilde</string>
	</array>
	<key>@MMK_L_m</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>aacute.ss02</string>
		<string>abreveacute</string>
		<string>abrevegrave</string>
		<string>abrevetilde</string>
		<string>acaron</string>
		<string>acircumflex</string>
		<string>acircumflexacute</string>
		<string>acircumflexgrave</string>
		<string>acircumflextilde</string>
		<string>adieresis</string>
		<string>adieresis.ss02</string>
		<string>adotbelow</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aring.ss02</string>
		<string>aringacute</string>
		<string>atilde</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>iacute.ss02</string>
		<string>ibreve</string>
		<string>icaron</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>idotbelow</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
		<string>u</string>
		<string>uacute</string>
		<string>uacute.ss02</string>
		<string>ubreve</string>
		<string>ucaron</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>udieresisacute</string>
		<string>udieresiscaron</string>
		<string>udieresisgrave</string>
		<string>udieresismacron</string>
		<string>udotbelow</string>
		<string>ugrave</string>
		<string>uhorn</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>b</string>
		<string>g.ss02</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocaron</string>
		<string>ocircumflex</string>
		<string>ocircumflexacute</string>
		<string>ocircumflexgrave</string>
		<string>ocircumflextilde</string>
		<string>odieresis</string>
		<string>odotbelow</string>
		<string>ograve</string>
		<string>ohorn</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>p</string>
		<string>thorn</string>
		<string>at</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t</string>
		<string>t.ss02</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
	</array>
	<key>@MMK_L_v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>@MMK_L_x</key>
	<array>
		<string>x</string>
		<string>x.ss02</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Aacute.ss02</string>
		<string>Abreve</string>
		<string>Abreveacute</string>
		<string>Abrevedotbelow</string>
		<string>Abrevegrave</string>
		<string>Abrevetilde</string>
		<string>Acaron</string>
		<string>Acircumflex</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexdotbelow</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflextilde</string>
		<string>Adieresis</string>
		<string>Adieresis.ss02</string>
		<string>Adotbelow</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aring.ss02</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>M</string>
	</array>
	<key>@MMK_R_E</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>D.ss01</string>
		<string>D.ss02</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>E.ss01</string>
		<string>Eacute</string>
		<string>Eacute.ss02</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Ecircumflexacute</string>
		<string>Ecircumflexdotbelow</string>
		<string>Ecircumflexgrave</string>
		<string>Ecircumflextilde</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Edotbelow</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Etilde</string>
		<string>F</string>
		<string>F.ss01</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>P</string>
		<string>P.ss01</string>
		<string>P.ss02</string>
		<string>R</string>
		<string>R.ss01</string>
		<string>R.ss02</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Uacute.ss02</string>
		<string>Ubreve</string>
		<string>Ucaron</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Udieresisacute</string>
		<string>Udieresiscaron</string>
		<string>Udieresisgrave</string>
		<string>Udieresismacron</string>
		<string>Udotbelow</string>
		<string>Ugrave</string>
		<string>Uhorn</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>one</string>
	</array>
	<key>@MMK_R_N</key>
	<array>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>C</string>
		<string>C.ss02</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>G</string>
		<string>G.ss02</string>
		<string>Gbreve</string>
		<string>Gcaron</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocaron</string>
		<string>Ocircumflex</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexdotbelow</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflextilde</string>
		<string>Odieresis</string>
		<string>Odotbelow</string>
		<string>Ograve</string>
		<string>Ohorn</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>Q</string>
		<string>zero</string>
		<string>six</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
		<string>S.ss02</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>two</string>
		<string>seven</string>
		<string>two.alt</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
		<string>T.ss01</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V</string>
		<string>V.ss02</string>
		<string>W</string>
		<string>W.ss02</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>@MMK_R_X</key>
	<array>
		<string>X</string>
		<string>X.ss02</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Y.ss02</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ydotbelow</string>
		<string>Ygrave</string>
		<string>Ytilde</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a.ss02</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>iacute.ss02</string>
		<string>ibreve</string>
		<string>icaron</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>idotbelow</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
	</array>
	<key>@MMK_R_j</key>
	<array>
		<string>j</string>
		<string>jcircumflex</string>
	</array>
	<key>@MMK_R_m</key>
	<array>
		<string>m.ss02</string>
		<string>n.ss02</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
		<string>p</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>u</string>
		<string>uacute</string>
		<string>uacute.ss02</string>
		<string>ubreve</string>
		<string>ucaron</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>udieresisacute</string>
		<string>udieresiscaron</string>
		<string>udieresisgrave</string>
		<string>udieresismacron</string>
		<string>udotbelow</string>
		<string>ugrave</string>
		<string>uhorn</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ydotbelow</string>
		<string>ygrave</string>
		<string>ytilde</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>aacute.ss02</string>
		<string>abreveacute</string>
		<string>abrevegrave</string>
		<string>abrevetilde</string>
		<string>acaron</string>
		<string>acircumflex</string>
		<string>acircumflexacute</string>
		<string>acircumflexgrave</string>
		<string>acircumflextilde</string>
		<string>adieresis</string>
		<string>adieresis.ss02</string>
		<string>adotbelow</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aring.ss02</string>
		<string>aringacute</string>
		<string>atilde</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>c</string>
		<string>c.ss02</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>e.ss02</string>
		<string>eacute</string>
		<string>eacute.ss02</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>ecircumflexacute</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflextilde</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>edotbelow</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>etilde</string>
		<string>g</string>
		<string>g.ss02</string>
		<string>gbreve</string>
		<string>gcaron</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocaron</string>
		<string>ocircumflex</string>
		<string>ocircumflexacute</string>
		<string>ocircumflexgrave</string>
		<string>ocircumflextilde</string>
		<string>odieresis</string>
		<string>odotbelow</string>
		<string>ograve</string>
		<string>ohorn</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>oe</string>
		<string>q</string>
		<string>at</string>
	</array>
	<key>@MMK_R_punct</key>
	<array>
		<string>comma</string>
		<string>period</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_R_v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>x.ss02</string>
	</array>
</dict>
</plist>
